.navbar-header{
    background-color: #9ACD32;
    color: white
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    background-color: #9ACD32;
    color: white;
}
.navbar-default .navbar-brand{
    color: black;
}
h5{
    font-weight: bold;
    text-align: center;
}

.feature{
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
}

.navbar-default .navbar-nav>li>a{
    color: white;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.jumbotron{
    padding-right: 50px;
    padding-left: 50px;
}